<% if message.card_id != nil %>
  <div class="mb-3 message me">
    <div>
      <% if message.user.username.present? %>
        <%= message.user.username %>
      <% else %>
        <%= message.user.email %>
      <% end %>   
    </div>
    <div class="border border-l-4 shadow-xl border-my-blue author">
      <%= message.user.email %>
      <p class="py-3 ">新增了一個新的任務</p>
      <p>任務: <%= message.content %></p>
    </div>
  </div>
<% else %>
    <div class="mb-3 message me card">
    <div>
      <% if message.user.username.present? %>
        <%= message.user.username %>
      <% else %>
        <%= message.user.email %>
      <% end %>   
    </div>
    <div class="author">
      <%= message.content %>
    </div>
  </div>
<% end %>
