<%= turbo_frame_tag :sigup do%>
  <section class="absolute left-0 z-10 w-full" class="logn-modal">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),data:{turbo: false}) do |f| %>
      <section class="flex items-center justify-center w-full">
        <%= render "devise/shared/error_messages", resource: resource %>
          <section class="text-white logn-modal">
            <button class="absolute text-xl right-10 top-5" data-action="click->modal#close"><i class="fa-solid fa-xmark"></i></button>
            <div class="text-3xl text-center ">
              <h3>歡迎加入Disboard!</h3>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"rounded-xl text-black"%>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(最少 <%= @minimum_password_length %> 字數)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password",class:"rounded-xl bg-white text-black" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"rounded-xl bg-white text-black"%>
            </div>

            <div class="btn-primary">
              <%= f.submit I18n.t("devise.shared.sign_up") %>
            </div>
            <%= render "devise/shared/links" %>
          </section>
      </section>  
    <% end %>
  </section>
<% end %>

