<%= turbo_frame_tag :sigup do%>
  <section class="absolute left-0 z-10 w-full" 
           data-aos="fade-up"
           data-aos-anchor-placement="top-bottom"
           data-aos-easing="ease-out-cubic"
           data-aos-duration="350">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),data:{turbo: false}) do |f| %>
      <section class="flex items-center justify-center w-full" data-controller="modal">
        <%= render "devise/shared/error_messages", resource: resource %>
          <section class="logn-modal" data-modal-target="modal">
            <a href="#" class="absolute text-xl right-10 top-5" data-action="click->modal#close"><i class="fa-solid fa-xmark"></i></a>
            <div class="text-3xl text-center ">
              <h3>歡迎加入Disboard!</h3>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"box-input"%>
            </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(最少 <%= @minimum_password_length %> 字數)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",class:"box-input" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"box-input"%>
          </div>
          <%= f.submit I18n.t("devise.shared.sign_up"),class: "btn-primary" %>
        <% end %>

        <!-- <%= link_to '登入' ,new_user_session_path ,data: {turbo_frame: "sigin" , action: "click->modal#open"} %> -->

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, method: :post do %>
              <img src="/assets/google_icon.png" alt="Google" class="w-[50px] h-[50px] bg-white rounded-full relative hover:top-[2px] active:top-[4px]">
            <% end %>
          <% end %>
        <% end %>

      </section>
    </section>
  </section>
<% end %>

