<section class="container w-screen py-36 ">
  <section>
    <%= image_tag "disboardlogo.png", class:"mx-auto w-[800px] h-[400px]" %>
    <section class="text-center py-14">
      <% if user_signed_in? %>
      <%= link_to "前往看板", boards_path, class:" btn-logn mx-4" %>
      <% else %>
        <%= link_to '登入' , new_user_session_path  , class:" btn-logn mx-4", data: {turbo_frame: "sigin" , action: "click->modal#open"} %>
        <%= link_to '註冊' , new_user_registration_path , class:" btn-logn mx-4", data: {turbo_frame: "sigup" , action: "click->modal#open"}%>
      <% end %>
    </section>
  </section>
 
  <section class="container pt-40 ">
    <h2 class="py-5 text-3xl font-bold text-black">功能介紹</h2>
    <div class="flex flex-col-reverse grid-cols-2 mt-10 lg:grid">
      <div class="flex flex-col justify-center text-gray-600">
        <h3 class="py-5 ml-auto text-3xl font-bold text-black">任務列表</h3>
        <p>專注於效率，我的工作管理網站提供一個強大的任務列表功能。無論您是個人使用還是團隊合作，這個功能都能讓您輕鬆組織和追蹤您的工作。不再遺漏重要任務！透過清晰的界面和易於使用的工具，您可以快速添加、編輯和排定任務。</p>
      </div>
      <div class="w-4/5 mx-auto">
        <%= image_tag "7.png", class:"w-full" %>
      </div>
    </div>
    <div class="w-4/5 mx-auto">
      <%= image_tag "7.png", class:"w-full" %>
    </div>
  </div>
  <div class="grid grid-cols-1 px-8 pb-5 my-5 bg-white rounded-lg shadow-xl sm:shadow-2xl lg:grid-cols-2" data-controller="aos" data-aos="fade-left" data-aos-duration="1000">
    <div class="w-4/5 mx-auto">
      <%= image_tag "6.png", class:"w-full" %>
    </div>
    <div class="flex flex-col justify-center text-gray-600">
      <h3 class="py-5 text-3xl font-bold text-black">群組功能</h3>
      <p>透過的群組功能，您可以輕鬆組織和管理專案成員，促進即時協作、無縫溝通，實現高效專案管理，共同攜手達成優秀成果。</p>
    </div>
  </div>
  <div class="flex flex-col-reverse grid-cols-2 px-8 my-5 lg:grid">
    <div class="flex flex-col justify-center text-gray-600">
      <h3 class="py-5 pr-1 ml-auto text-3xl font-bold text-black">即時聊天</h3>
      <p>聊天室功能提供即時交流與討論，方便團隊成員快速分享想法、共享資源，透過檔案分享，輕鬆促進團隊合作與創意共享，提升專案溝通效率，共同打造卓越成果。</p>
    </div>
    <div class="w-4/5 mx-auto">
      <%= image_tag "9.png", class:"w-full" %>
    </div>
  </div>
  <div class="hidden grid-cols-1 px-8 my-5 bg-white rounded-lg shadow-xl sm:shadow-2xl lg:grid-cols-2" data-controller="aos" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="150">
    <div class="w-4/5 mx-auto ">
      <%= image_tag "8.png", class:"w-full" %>
    </div>
    <div class="flex flex-col justify-center text-gray-600 ">
      <h3 class="py-5 text-3xl font-bold text-black">付費功能</h3>
      <p>專案管理系統是一個有效的工具，能夠幫助項目團隊協調和管理各項工作。它可以提供項目日程表、任務分配、時間追蹤、進度報告、資源分配等功能，讓團隊成員可以更好地了解項目進展情況，便於協調工作，提高效率。</p>
    </div>
  </div>
  <div class="grid grid-cols-1 px-8 pb-5 my-5 bg-white rounded-lg shadow-xl sm:shadow-2xl lg:grid-cols-2" data-controller="aos" data-aos="fade-right" data-aos-duration="1500">
    <div class="w-4/5 mx-auto">
      <%= image_tag "8.png", class:"w-full" %>
    </div>
    <div class="flex flex-col justify-center text-gray-600">
      <h3 class="py-5 text-3xl font-bold text-black">日曆功能</h3>
      <p>完善的日曆功能助您輕鬆統整專案時間表、任務和重要事件，方便團隊成員共享和查看，提醒與追蹤待辦事項，確保專案進度掌握無遺，讓您有效管理時間、協調安排，實現順利的專案執行與時程掌控。</p>
    </div>
  </div>
</section>