<section class=" z-10 w-full shadow-lg bg-Azure-blue-2 h-[60px]">
  <div class="flex items-center justify-between py-3 ml-8 group">
    <div class="flex items-center gap-12">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag image_url("logo"), class:" w-[170px] invert" %>
        <% end %>
      </h1>
      <% if container.present? %>
        <%= turbo_frame_tag(board) do %>
          <%= link_to edit_board_path(board.id) do %>
            <div class="flex items-center justify-start">
              <h2 class="text-2xl font-bold text-white"><%= board.name %></h2>
              <div class="flex items-center invisible ml-5 group-hover:flex group-hover:visible">
                <i class="fa-solid fa-pencil invert"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="text-2xl font-bold text-white">
          <% if current_user.status == "normal" %>
            <i class="text-2xl fa-solid fa-award" style="color: #b8e9ea;">免費會員</i>
          <% elsif current_user.status == "Standard" %>
            <i class="fa-solid fa-award" style="color: #e797f7;">標準會員</i>
          <% else %>
            <i class="fa-solid fa-award" style="color: #faf200;">尊榮會員</i>
          <% end %>
          <%= format_email(current_user.email) if current_user.present? %>
        </div>
      <% end %>
      <ul class="flex items-center pr-20 mx-5">
        <% if board&.id.present? %>
          <li><%= link_to '任務', board_path(board.id),id:'keysix', class:'insidebar' %></li>
          <li><%= link_to '日曆', board_calendars_path(board.id), id:'keythree', class:'insidebar' %></li>
          <li><%= link_to '聊天室', board_rooms_path(board.id), id:'keyfour', class:'insidebar' %></li>
          <li><%= link_to '儀表板', chart_board_path(board.id), id:'keyseven', class: 'insidebar' %></li>
          <li><%= link_to '成員', board_members_path(board.id), id:'keyfive', class:'insidebar' %></li>
          <li><%= link_to '登出', destroy_user_session_path, method:"delete", class:'insidebar' %></li>
        <% else %>
          <li><%= link_to '前往升級', payments_path, class:'insidebar' %></li>
          <li><%= link_to '登出', destroy_user_session_path, method:"delete", class:'insidebar' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
