<section class="fixed z-10 w-full bg-white bg-gray-300 border-b shadow-lg left-20">
  <div class="flex items-center w-2/3 py-2 mx-auto">
    <div>
      <img src="https://picsum.photos/200" alt="" class="rounded-full ">
    </div>
    <div class="ml-20 text-center">
      <h2 class="mb-3 text-xl">board name</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, voluptatem.</p>
    </div>
  </div>


  <ul class="flex justify-center w-full space-x-16 text-mb">
    <% if board %>
      <li class="insidebar"><%= link_to '任務', board_path(board.id) %></li>
      <li class="insidebar"><%= link_to '日曆', board_calendars_path(board.id) %></li>
      <li class="insidebar"><%= link_to '聊天室', '#' %></li>
      <li class="insidebar"><%= link_to '成員', board_members_path(board.id) %></li>
      <li class="insidebar"><%= link_to '設定', '#' %></li>
    <% else %>
      <li class="insidebar"><%= link_to '任務', '#' %></li>
      <li class="insidebar"><%= link_to '日曆', '#' %></li>
      <li class="insidebar"><%= link_to '聊天室', '#' %></li>
      <li class="insidebar"><%= link_to '成員', '#' %></li>
      <li class="insidebar"><%= link_to '設定', '#' %></li>
    <% end %>
  </ul>
</section>
