<section class="relative z-10 w-full shadow-lg bg-Azure-blue-2 h-[60px]" data-controller="navbar">
  <div class="relative flex items-center justify-center py-3 -ml-20 lg:justify-between group">
    <div class="flex items-center gap-6 md:gap-10 lg:gap-12 xl:gap-32">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag image_url("logo"), class:" w-[120px] md:w-[140px] lg:w-[170px] invert" %>
        <% end %>
      </h1>
      <% if container.present? %>
        <div class="flex items-center justify-start">
          <h2 class="w-20 text-lg md:w-40 md:text-2xl font-bold text-white truncate ..."><%= board.name %></h2>
          <div class="flex items-center invisible group-hover:flex group-hover:visible">
          </div>
        </div>
      <% else %>
        <div class="mr-12 text-lg font-bold text-white md:mr-0 md:text-xl xl:text-2xl">
          <%= format_email(current_user.email) if current_user.present? %>
        </div>
      <% end %>
    </div>
    <div class="hover:cursor-pointer absolute left-[85%] space-y-2 lg:hidden"  data-action="click->navbar#show">
      <span class="block w-8 h-0.5 bg-white"></span>
      <span class="block w-8 h-0.5 bg-white"></span>
      <span class="block w-8 h-0.5 bg-white"></span>
    </div>
    <ul class="absolute flex-col right-2 top-20 items-center hidden rounded-lg bg-Azure-blue-2 lg:-ml-12 xl:pr-[90px] lg:menurwd" data-navbar-target="submenu">
      <% if board&.id.present? %>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '任務', board_path(board.id),id:'keysix', class:'insidebar' %></li>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '日曆', board_calendars_path(board.id), id:'keythree', class:'insidebar' %></li>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '聊天室', board_rooms_path(board.id), id:'keyfour', class:'insidebar' %></li>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '儀表板', chart_board_path(board.id), id:'keyseven', class: 'insidebar' %></li>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '成員', board_members_path(board.id), id:'keyfive', class:'insidebar' %></li>
        <li class="py-2 lg:border-none lg:py-0"><%= link_to '登出', destroy_user_session_path, method:"delete", class:'insidebar' %></li>
      <% else %>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '專案總表', boards_path, class:'insidebar' %></li>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '邀請列表', invitations_path, class:'insidebar' %></li>
        <% if current_user.status == "Premium" %>
          <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '會員狀態', payments_path, class:'insidebar' %></li>
        <% else %>
          <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '前往升級', payments_path, class:'insidebar' %></li>
        <% end %>
        <li class="py-2 border-b-2 border-white lg:border-none lg:py-0"><%= link_to '個人資訊', edit_user_registration_path, class:'insidebar' %></li>
        <li><%= link_to '登出', destroy_user_session_path, method:"delete", class:'insidebar' %></li>
      <% end %>
    </ul>
  </div>
</section>
