<section class="fixed w-full border-b border-black top-48 ">

  <ul class="flex w-full space-x-16 text-mb">
    <li class="insidebar"><%= link_to '任務', '#'%></li>
    <li class="insidebar "><%= link_to '日曆', '#'%></li>
    <li class="insidebar"><%= link_to '聊天室', '#'%></li>
    <li class="insidebar"><%= link_to '成員', '#'%></li>
    <li class="insidebar"><%= link_to '設定', '#'%></li>
  </ul>



</section>
