<section class="fixed z-10 w-full bg-white border-b shadow-lg left-20">
  <div class="flex items-center w-full gap-2 py-2 ml-8">
    <div class="w-8">
      <img src="https://picsum.photos/200" alt="" class="w-8 rounded-full">
    </div>
    <div class="flex justify-start w-full text-center">
      
        <% if @containers.present? %>
          <%= turbo_frame_tag(@board) do %>
          <div class="flex items-center justify-start">
            <h2 class="text-2xl"><%= @board.name %> </h2>
            <div>
              <%= link_to '更改名稱', edit_board_path(@board.id), class: 'btn-primary mx-2 text-md' %>
              <%= link_to 'X', board_path(@board.id), method: 'delete', data: {confirm: 'sure?' }, class: 'btn-danger mx-2 text-md' %>
            </div>
          </div>
          <% end %>
        <% else %>
          <%= current_user.id %>
        <% end %>
     
    </div>
      <ul class="flex justify-end w-full text-sm">
    <% if board %>
      <li class="insidebar"><%= link_to '任務', board_path(board.id) %></li>
      <li class="insidebar"><%= link_to '日曆', board_calendars_path(board.id) %></li>
      <li class="insidebar"><%= link_to '聊天室', '#' %></li>
      <li class="insidebar"><%= link_to '成員', board_members_path(board.id) %></li>
      <li class="insidebar"><%= link_to '設定', '#' %></li>
    <% else %>
      <li class="insidebar"><%= link_to '任務', '#' %></li>
      <li class="insidebar"><%= link_to '日曆', '#' %></li>
      <li class="insidebar"><%= link_to '聊天室', '#' %></li>
      <li class="insidebar"><%= link_to '成員', '#' %></li>
      <li class="insidebar"><%= link_to '設定', '#' %></li>
    <% end %>
  </ul>
  </div>



</section>
