<section class="flex flex-col items-center justify-center max-w-full gap-16 mx-auto mt-20 bg-white md:flex-row lg:gap-32 xl:p-20">
  <div class="relative self-center md:flex logo-background"><%= image_tag "homepage_logo.svg", class: "w-[300px] md:w-[350px] lg:w-[900px] z-10 relative bg-white p-5 border border-[#E25B34]" %></div>
  <div class="md:max-w-[500px]  lg:w-full flex flex-col justify-center">
    <div class="max-w-[300px]"><%= image_tag "logo.png", class: "scale-110 lg:scale-125 xl:scale-150" %></div>
    <div class="flex flex-col pt-6 w-fit xl:items-start">
      <% if user_signed_in? %>
        <%= link_to "前往看板", boards_path, class:"btn-logn md:mx-4 text-[#E25B34] hover:text-white bg-white border border-[#E25B34] hover:bg-[#E25B34]" %>
      <% else %>
        <div>
          <p class="pb-10 text-xl font-semibold">最輕鬆省力的專案管理平台！</p>
          <%= link_to '登入' , new_user_session_path  , class:" btn-logn mx-4 py-[12px] px-[32px] text-[#E25B34] hover:text-white bg-white border border-[#E25B34] hover:bg-[#E25B34]", data: {turbo_frame: "sigin" , action: "click->modal#open"} %>
          <%= link_to '註冊' , new_user_registration_path , class:" btn-logn mx-4 py-[12px] px-[32px] text-[#E25B34] hover:text-white bg-white border border-[#E25B34] hover:bg-[#E25B34]", data: {turbo_frame: "sigup" , action: "click->modal#open"}%>
        </div>
      <% end %>
    </div>
  </div>
</section>