<% if user_signed_in? %>
  <div class="relative bg-Azure-blue-2" data-controller="navbar">  
    <div class="z-10 hidden w-20 m-0 overflow-x-hidden overflow-y-auto text-white shadow-lg lg:flex lg:flex-col lg:h-screen bg-Azure-blue-2" data-navbar-target="menu">
      <div class="relative pb-3 underscore user">
        <%if board.nil? %>
          <%= link_to boards_path, class:"sidebar-icon linkto-icon" do %>
            <i class="fa-solid fa-user-tie text-orange-2"></i>
          <% end %>
        <% else %>
          <%= link_to boards_path, class:"sidebar-icon touch-icon" do %>
            <i class="fa-solid fa-user-tie"></i>
          <% end %>
        <% end %>
      </div>
      <% boards.each do |b| %>
        <%= link_to board_path(b.id) do %>
          <div class="static sidebar-icon touch-icon group" data-controller="menu" data-action="mouseover->menu#showBoard">
            <% if board == b %>
              <div class=" sidebar-icon linkto-icon">
                <i class="fa-solid fa-user-group text-orange-2 "></i>
              </div>
            <% else %>
              <i class="fa-solid fa-user-group "></i>
            <% end %>
            <div class="absolute z-50 flex invisible group-hover:visible left-[82%] w-64 p-5" >
              <p class="relative p-3 text-xl bg-black rounded">
                <%= b.name %>
                <div class="absolute w-0 h-0 top-8 left-2 border-t-[15px] border-t-transparent border-r-[15px] border-r-black border-b-[15px] border-b-transparent"></div>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= link_to new_board_path, class: 'sidebar-icon py-5 static addboard' do %>
        <div class="static sidebar-icon touch-icon group" data-controller="menu" data-action="mouseover->menu#showTip">
            <i class="fa-solid fa-plus "></i>
            <div class="absolute z-50 flex invisible group-hover:visible left-[82%] w-64 p-5" >
              <p class="p-3 text-xl bg-black rounded">
                新增專案
                <div class="absolute w-0 h-0 top-8 left-2 border-t-[15px] border-t-transparent border-r-[15px] border-r-black border-b-[15px] border-b-transparent"></div>
              </p>
            </div>
          </div>
      <% end %>
    </div>
    <div data-action="click->navbar#appear" class="lg:hidden">
      <div class="absolute z-10 w-[25px] h-[52px] top-[60px] left-[100%] bg-Azure-blue rounded-r-xl" >
        <div class="z-20 absolute top-[15px] left-[5px] border-t-[12px] border-t-transparent border-r-[15px] border-r-white border-b-[10px] border-b-transparent rotate-180" data-navbar-target="triangle">
        <div class="absolute -top-[12px] left-[5px] w-0 h-0 border-t-[12px] border-t-transparent border-r-[15px] border-Azure-blue border-b-[10px] border-b-transparent"></div>
      </div>
      </div>
      
    </div>
  </div>
<% else %>
  <%= turbo_frame_tag :sigin %> 
<% end %>



