<% if user_signed_in? %>
  <div class="fixed top-0 left-0 z-50 flex flex-col w-20 h-screen m-0 overflow-x-scroll text-white shadow-lg bg-Azure-blue-2 " >
  <div class="py-3 underscore">
    <%if board == nil %>
      <%= link_to boards_path, class:"sidebar-icon linkto-icon" do %>
        <i class="fa-solid fa-user-tie"></i>
      <% end %>
    <% else %>
      <%= link_to boards_path, class:"sidebar-icon touch-icon" do %>
        <i class="fa-solid fa-user-tie"></i>
      <% end %>
    <% end %>
  </div>
  <% boards.each do |b| %>
      <%= link_to board_containers_path(b.id) do %>
        <div class="sidebar-icon touch-icon">
          <% if board == b %>
          <div class="sidebar-icon linkto-icon">
            <i class="fa-solid fa-user-group"></i>
          </div>
          <% else %>
            <i class="fa-solid fa-user-group"></i>
          <% end %>
        </div>
      <% end %>
  <% end %>
  <%= link_to new_board_path, class: 'sidebar-icon py-5' do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
  </div>
<% else %>
  <%= turbo_frame_tag :sigin %> 
<% end %>