
  <div class="relative flex flex-col items-start w-64 px-5 py-3 m-5 rounded-md max-w-64 bg-slate-200 min-w-max drop-shadow-2xl hover:bottom-[2px]">
    <div class="flex items-center justify-between w-full gap-3 mb-1">
      <div>
        <%= turbo_frame_tag(container) do %>
          <span class="pr-1 font-bold">|</span>
          <%= link_to container.title, edit_container_path(container.id), class: " font-bold" %>
        <% end %>
      </div>
    </div>
    <div>
      <div>
        <%= link_to 'x', container_path(container.id), method: 'delete', data: {confirm: 'sure?' }, class: 'absolute -top-3 -right-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 rounded-full hover:bg-rose-500' %>
      </div>
      <div>
      <section id="card-list" data-controller="sortable">
        <% container.cards.each do |card| %>
          <div class="relative flex justify-between w-full px-4 py-3 my-3 bg-gray-400 border rounded-md active:-bottom-[2px] hover:bottom-[1px] drop-shadow-xl" data-card-id="<%= card.id %>" >
            <%= link_to card.title, container_card_path(@board,card.id) ,class:'text-ellipsis overflow-hidden pr-2 w-20' %>
            <div class="flex items-center justify-center gap-1">
              <%= link_to '修改', edit_container_card_path(@board,card.id), class: 'inline-block relative btn-primary mx-1 text-sm bg-slate-200 text-black active:-bottom-[2px] hover:bottom-[1px] hover:bg-slate-200' %>
              <%= link_to 'x', container_card_path(@board,card.id), method: 'delete', data: { turbo: false, confirm: 'sure?' }, class: 'inline-block relative bg-slate-200 w-6  px-2 rounded-full active:-bottom-[2px] hover:bottom-[1px] hover:bg-rose-500' %>
            </div>
          </div>
        <% end%>  
        </section>
        <div class="flex justify-start active:-bottom-[2px] hover:bottom-[1px]"><%= link_to '新增', new_container_card_path(container.id), data: { turbo: false }, class: 'btn-primary inline-block relative text-center btn-primary active:-bottom-[2px] hover:bottom-[1px] mt-5 w-20 py-1' %></div>
      </div>
    </div>
  </div>
