<div class=" min-w-[272px] m-3 px-3">
  <div class="relative w-full p-5 rounded-md shadow-3xl bg-white-2 first-letter:drop-shadow-2xl group" data-controller="remove" data-container-id="<%= container.id %>">
    <div class="flex items-center justify-between w-full gap-3 mb-1">
      <div>
        <%= turbo_frame_tag(container) do %>
          <%= link_to container.title, edit_container_path(container.id), class: " font-bold before:content-['|'] before:mr-2 before:font-medium" %>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to "#", data: { action: 'click->remove#wipeOut' },class: 'absolute -top-3 -right-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 py-2  w-10 h-10 rounded-full justify-center items-center hover:bg-rose-500 active:-bottom-[2px] hover:bottom-[1px] border-none opacity-90 hidden group-hover:flex' do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
    <section id="card-list" data-controller="sortable" data-container-id="<%= container.id %>" data-board-id="<%= board.id %>" class="w-full">
      <% container.cards.each do |card| %>
        <div class="w-full" data-card-id="<%= card.id %>">
          <div class="relative flex justify-between w-full p-3 my-3 bg-white border rounded-md active:-bottom-[2px] hover:bottom-[1px] shadow-5xl ">
            <%= link_to card.title, container_card_path(container, card.id) ,class:'text-ellipsis overflow-hidden pr-2 w-32' %>
            <div class="flex items-center justify-center gap-1">
              <%= link_to edit_container_card_path(container, card.id), class: "hover:bg-slate-400 hover:rounded" do %>
                <i class="m-1 fa-solid fa-pencil"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </section>
    <div>
      <%= link_to new_container_card_path(container.id), data: { turbo: false },id:"keyone", class: 'pr-5 py-2 text-sm rounded-xl text-gray-800 hover:bg-gray-200 relative group' do %>
        <i class="p-2 fa-solid fa-plus"></i>
        <span>新增卡片</span>
        <span class="absolute bottom-[-110%] right-[25%] py-1 px-2 bg-gray-200 text-black text-xs rounded opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100">
          alt + c
        </span>
      <% end %>
    </div>
  </div>
</div>
