<%= turbo_frame_tag "edit_container_#{@container.id}" do %>
  <div class="p-2 bg-slate-200">
    <%= form_for(@container, data: {turbo: false}) do |f| %>
      <div class="relative flex">
        <div>
          <%= link_to :back, class: 'absolute -top-3 -left-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 py-2  w-5 h-5 rounded-full flex justify-center items-center hover:bg-rose-500 active:-bottom-[2px] hover:bottom-[1px] border-none' do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>
        <div>
          <%= f.text_field :title, class: 'box-input', placeholder: '請輸入狀態名稱' %>
        </div>
        <%= f.submit '更新', class: "btn-primary inline-block relative text-center btn-primary active:-bottom-[2px] hover:bottom-[1px] ml-2 py-1 text-sm" %>
      </div>
    <% end %>
  </div>
<% end %>