<%= turbo_frame_tag(@board.id) do %>
  <div class=" absolute -top-[500%] -left-[500%] bg-white-2 rounded-lg">
    <%= form_with(model: @container, data: {turbo: false}, url: board_containers_path ) do |f| %>
      <div class="p-5">
        <%= f.label :title, '新增專案狀態', class: "text-lg text-black"  %>
        <div class="flex items-center">
          <%= f.text_field :title, class: 'input mr-3 text-black', placeholder: '請輸入狀態名稱' %>
          <%= f.submit '新增', class: "bg-Azure-blue-1 text-white rounded-xl relative active:-bottom-[2px] hover:bottom-[1px] py-1 px-5 cursor-pointer" %>
          <% end %>
        </div>
      </div>
    <div>
      <%= link_to :back, class: 'absolute bg-gray-400 -top-3 -left-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 py-2  w-5 h-5 rounded-full flex justify-center items-center hover:bg-rose-500 active:-bottom-[2px] hover:bottom-[1px] border-none' do %>
        <i class="text-black fa-solid fa-xmark"></i>
      <% end %>
    </div>
  </div>
<% end %>