<%= paginator.render do %>
  <nav class="items-center justify-between m-10 lex " role="navigation" aria-label="pager">
    <%= prev_page_tag if current_page.first? == false %>
    <% each_page do |page| %>
      <% if page.display_tag? %>
        <%= page_tag page %>
      <% elsif !page.was_truncated? %>
        <%= gap_tag %>
      <% end %>
    <% end %>
    <% if current_page.out_of_range? == false %>
      <%= next_page_tag if current_page.last? == false %>
    <% end %>
  </nav>
<% end %>

