<%= turbo_frame_tag :sigin do%>
  <section class="absolute left-0 z-10 w-full " 
           class="logn-modal" 
           data-aos="fade-up"
           data-aos-anchor-placement="top-bottom"
           data-aos-easing="ease-out-cubic"
           data-aos-duration="350">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),data:{turbo: false}) do |f| %>
      <section class="flex items-center justify-center w-full">
        <section class="text-white logn-modal">
          <a href="#" class="absolute text-xl right-10 top-5" data-action="click->modal#close"><i class="fa-solid fa-xmark"></i></a>
          <div class="text-3xl text-center ">
            <h3>歡迎回來!</h3>
          </div>
          <div>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"input" %>
          </div>

          <div>
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" ,class:"input"%>
          </div>

          <% if devise_mapping.rememberable? %>
            <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          
          <%= f.submit I18n.t("devise.shared.sign_in"),class: "btn-primary" %>
          
        <% end %>
        <!-- <%= link_to '註冊' ,  new_user_registration_path ,data: {turbo_frame: "sigup" , action: "click->modal#open"}%> -->
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to t("devise.shared.sign_in_with_provider", provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider), data: { turbo: false } %>
          <% end %>
        <% end %>
      </section>
    </section>
  </section>
<% end %>



