<div class="m-3 bg-white border shadow-md ">
  <section >
    <header>
      <div >
        <!-- 放專案照片 -->
        <%= link_to board_path(board.id) do %>
        <img src="https://fakeimg.pl/350x200/414e92,128/000,255" >
      <% end %>
      </div>
    </header>

    <div class="flex flex-col mx-3 my-3 ">
      <h2 >專案名稱：<%= link_to board.name, board_path(board.id) %></h2>
      <p >創建人：<%= format_email(current_user.email) %></p>
      <time >建立時間：<%= format_datetime(board.created_at).split("#").join %></time> 
      <time >截止時間：</time>
    </div>

    <footer>
      <div class="pb-3"><%= link_to '刪除', board_path(board.id), method: 'delete', data: {confirm: 'sure?' }, class: 'btn-danger mx-2' %></div>
    </footer>
  </section>
</div>

    
