<div class="mx-auto duration-500 bg-white shadow-md lg:w-72 rounded-xl hover:scale-105 hover:shadow-xl">
  <div class="overflow-hidden max-h-64 aspect-square">
    <%= link_to board_path(board.id) do %>
      <% if board.avatar.attached? %>
        <%= image_tag board.avatar, style: "object-fit: fill; height: 300px; width: 300px;border-top-left-radius: 0.75rem;border-top-right-radius: 0.75rem; " %>
      <% else %>
        <figure><img src="https://picsum.photos/300/300?image=0" alt="Movie" class="w-[300px] h-[300px] rounded-t-xl"/></figure>
      <% end %>
    <% end %>  
  </div>
  <div class="px-4 py-3 w-72">
    <div>
      <h2 class="font-bold w-[200px] truncate"><%= link_to board.name, board_path(board.id) %></h2>
      <time class="block py-3" >建立時間：<%= format_timestamps(board.created_at, :date) %></time> 
      <time >截止時間：</time>
    </div>
    <div class="py-3">
      <button>
          <%= link_to '編輯', edit_board_path(board.id), data: {turbo_frame: "board_edit"}, class: 'px-5 py-2 bg-Azure-blue-2 text-white rounded-lg hover:bg-Azure-blue-1' %>
      </button>
      <button>
        <%= link_to '離開', board_path(board.id), method: 'delete', data: {confirm: '確定要離開嗎?' }, class: 'px-5 py-2 bg-orange-2 text-white rounded-lg hover:bg-orange-500' %>
      </button>
    </div>
  </div>
</div>

