<section class="h-screen overflow-y-scroll lg:p-10">
  <span class="block pb-8 text-4xl font-bold text-center text-white ">
    <% if current_user.username.present? %>
      <%= current_user.username%>
    <% else %>
      <%= format_email(current_user.email) %>
    <% end %>
    的專案列表
  </span>
  <div>
    <%= turbo_frame_tag :board_edit %>
  </div>
  <div class="flex flex-col gap-5 py-5 lg:px-20 lg:mx-14 xl:flex-row xl:flex-wrap">
    <%= render @boards %>
  </div>
  <div class="text-center">
    <%= paginate @boards %>
  </div>
</section>



