<%= turbo_frame_tag :board_new do %>
<div class="absolute top-0 z-50 w-screen h-screen bg-black bg-opacity-50">
  <div class="absolute text-center z-10 w-[350px] lg:w-[500px] p-3 transform -translate-x-1/2 -translate-y-1/2 rounded-md top-1/2 left-1/2 bg-Azure-blue-3">
    <%= form_with(model: @board, data: { turbo: false }) do |f| %>
      <p class="py-3 text-3xl font-bold text-center text-black">建立專案</p>
      <div class="py-3">
        <p class="px-16 text-sm font-bold text-left text-black">專案名稱</p>
        <%= f.text_field :name, class: 'box-input', placeholder: '請輸入專案名稱' %>
      </div>
      <div>
        <p class="px-16 text-sm font-bold text-left text-black">上傳專案頭像</p>
        <%= f.file_field :avatar , class: " text-black" %>
      </div>
      
      <%= f.submit '建立', class: "bg-Azure-blue-1 text-white rounded-xl relative active:-bottom-[2px] hover:bottom-[1px] py-2 px-10 cursor-pointer" %>
    <% end %>
    <div>
      <%= link_to :back, data: { turbo: false }, class: 'absolute -top-3 -right-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 py-2  w-10 h-10 rounded-full flex justify-center items-center hover:bg-rose-500 border-none' do %>
        <i class="text-black fa-solid fa-xmark"></i>
      <% end %>
    </div>
  </div>
</div>
<% end %>
