<div class="flex w-16">
  <div class="flex flex-col">
  
    <%# <div>
      <%= render partial: "board", collection: @boards %>
    <%# </div> %> 

    <%= link_to '刪除', board_path(@board.id), method: 'delete', data: {confirm: 'sure?' }, class: 'btn-danger mx-2' %>
  
    
  </div>

  <div class="flex flex-col justify-center">
    <div>
      <%= turbo_frame_tag(@board) do %>
        <%= @board.name %>
        <%= link_to '更改名稱', edit_board_path(@board.id), class: 'btn-primary mx-2' %>
      <% end %>
    </div>
    <div class="flex">
      <% @containers.each do |c| %>
        <div class="h-10 m-2 border rounded-md bg-slate-200"><div class="px-2 py-2"><%= c.title %></div></div>
      <% end %>
    </div>
  </div>
</div>