<div class="flex w-16">
  <div class="flex flex-col">
  
    <%# <div>
      <%= render partial: "board", collection: @boards %>
    <%# </div> %> 

    <%= link_to '刪除', board_path(@board.id), method: 'delete', data: {confirm: 'sure?' }, class: 'btn-danger mx-2' %>
  
    
  </div>

  <div class="flex flex-col justify-center">
    <div>
      <%= turbo_frame_tag(@board) do %>
        <%= @board.name %>
        <%= link_to '更改名稱', edit_board_path(@board.id), class: 'btn-primary mx-2' %>
      <% end %>
    </div>
    <div class="flex">
      <%= render partial: "containers/container", collection: @containers %>
      <%= link_to '新增', new_board_container_path(@board.id)  %>
    </div>
  </div>
</div>