<section class="flex justify-center gap-20">
  <div class="flex flex-col gap-10">
    <h3>免費方案</h3>
    <p>$ 0 NTD</p>
    <p>僅可使用一般功能</p>
    <a href="#">開始使用</a>
  </div>
  <div class="flex flex-col gap-10">
    <h3>Vip方案</h3>
    <p>每月$ 30 NTD</p>
    <p>可自由選擇主題</p>
    <%= form_with url: "https://ccore.newebpay.com/MPG/mpg_gateway", html: { method: :post } do |form| %>
      <%= form.hidden_field :MerchantID, value: "MS148911941" %>
      <%= form.hidden_field :TradeInfo, value: @form_info[:TradeInfo] %>
      <%= form.hidden_field :TradeSha, value: @form_info[:TradeSha] %>
      <%= form.hidden_field :TimeStamp, value: @form_info[:TimeStamp] %>
      <%= form.hidden_field :Version, value: "2.0" %>
      <%= form.submit "Buy Now", class: "w-full py-2 text-indigo-100 duration-75 bg-indigo-600 rounded-md hover:bg-indigo-500 hover:shadow-md" %>
    <% end %>
    <%= form_with url: "https://ccore.newebpay.com/MPG/mpg_gateway", html: { method: :post } do |form| %>
      <%= form.hidden_field :MerchantID, value: "MS148911941" %>
      <%= form.hidden_field :TradeInfo, value: @form_info2[:TradeInfo] %>
      <%= form.hidden_field :TradeSha, value: @form_info2[:TradeSha] %>
      <%= form.hidden_field :TimeStamp, value: @form_info2[:TimeStamp] %>
      <%= form.hidden_field :Version, value: "2.0" %>
      <%= form.submit "Buy Now", class: "w-full py-2 text-indigo-100 duration-75 bg-indigo-600 rounded-md hover:bg-indigo-500 hover:shadow-md" %>
    <% end %>
  </div>
</section>