<div id="room-id" data-room-id="<%= @room.id%>"></div>
<div id="user-id" data-user-id="<%= current_user.id%>"></div>
<section class="flex">
  <div class="h-screen p-5 overflow-y-scroll bg-Azure-blue-2 w-[270px]">
    <div>
      <h1 class="font-bold text-white">上線中</h1> 
        <ul id="online-users">
          <%= render partial: "rooms/online", collection: @board.users.online, as: :user %>
        </ul>
    </div>
    <div>
      <h1 class="font-bold text-white">所有成員</h1> 
      <ul>
        <% @board.users.each do |user|%>
          <li class="py-5 text-white text-mb "><%= user.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="w-full h-screen px-20 overflow-y-scroll" id="chat-window">
    <% if @room.present? %>
      <div class="pb-36 ">
        <div id="messages">
          <%= render partial: 'messages/message', collection: @messages %>
        </div>
      </div>
      <div class="chat-box" data-controller="chatsubmit">
        <%= render 'messages/form' ,message: Message.new , room: @room %>
      </div>
    <% end %>
  </div>
</section>