<div id="room-id" data-room-id="<%= @room.try(:id)%>"></div>
<div id="user-id" data-user-id="<%= current_user.id%>"></div>
<div class="">
  <div class="row">
    <div class="col-3">
        <p>Hello ,<%= current_user.username %></p>
        <%= render 'form' , room: Room.new %>
        <hr>
      <% @rooms.each do |room| %>
        <%= link_to room do%>
          <div class="mb-2 card">
            <div class="card-body">
              <%= room.name%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <p><%= @room.name %></p>
          <div id="messages">
            <% @room.messages.each do |message| %>
                <%= render 'messages/message' , message: message%>  
            <% end %>
          </div>
            
          <div class="chat-box">
            <%= render 'messages/form' ,message: Message.new , room: @room %>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>