<div id="room-id" data-room-id="<%= @room.id%>"></div>
<div id="user-id" data-user-id="<%= current_user.id%>"></div>
  <div class="container h-screen overflow-y-scroll">
    <div>
      <% if @room.present? %>
        <div>
          <p><%= @room.id %></p>
          <div id="messages" class=" pb-52">
            <% @room.messages.each do |message| %>
                <%= render 'messages/message' , message: message%>  
            <% end %>
          </div>
        </div>
                  
        <div class="chat-box">
          <%= render 'messages/form' ,message: Message.new , room: @room %>
        </div>
      
      <% end %>
    </div>
  </div>