<%=  form_for(card, url: container_card_path ) do |f| %>
  <% if card.errors.any? %>
    <% card.errors.full_messages.each do |msg| %>
      <ul class="flex-col">
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>
  <div>
    <%= f.label :title, '標題'  %>
    <%= f.text_field :title, class: 'input' %>
    <%= f.label :title, '(必填)'  %>
  </div>

  <div>
    <%= f.label :intro, '簡介' %>
    <%= f.text_area :intro, class: 'input' %>
    <%= f.label :intro, '(必填)'  %>
  </div>

  <div>
    <%= f.label :level, '難易度' %>
    <%= f.select :level, Card.level_list %>
  </div>

  <div>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <%= image_tag(@card.avatar_url) if @card.avatar.present? %>
  </div>

  <%= f.submit '建立項目', class: 'btn-primary' %>
<% end %>