<%= turbo_frame_tag :card_edit do%>
<div class="absolute top-0 w-[90%] right-0 z-10 h-screen bg-white-3 rounded-l-xl p-10 overflow-y-scroll animate-sidein" 
    data-controller="modal" 
    data-modal-target="cardEdit">
  <button data-action="click->modal#closeCard" class="absolute top-5 left-5"><i class="fa-solid fa-xmark"></i></button>
  <span class="pl-3 text-2xl font-bold">更新任務</span>
  <%=  form_with(model: @card, url: container_card_path, data: { turbo: false, controller: "flatpickr" }) do |f| %>
    <div class="p-5 bg-white rounded-md drop-shadow-2xl over">
      <div class="my-3 text-center">
        <%= f.label :title, '任務名稱', class: "pr-4 font-bold" %>
        <%= f.text_field :title, class: 'box-input w-1/2', placeholder: '請輸入標題名稱' %>
        <div class="w-full p-2 rounded-lg ">
            <%= f.rich_text_area :intro , class: 'w-full bg-white'%>
        </div>
        <% if @card.errors.any? %>
          <% @card.errors.full_messages.each do |msg| %>
            <ul class="flex-col">
              <li class="text-red-500"><%= msg %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
      <div class="p-3 shadow-3xl bg-white-3 rounded-xl">
        <div>
          <div class="flex items-center px-2 py-5">
            <%= f.label :assigned_to, '負責人', class: "pr-5 font-bold" %>
            <% if @card.errors.any? == false %>
              <%= f.select :assigned_to, options_for_select(assign_user(@card.board), @card.assigned_to), {}, class: 'box-input w-32 text-md px-1 rounded-xl appearance-none daisy-select' %>
            <% end %>
          </div>
          <div class="flex items-center p-2">
            <%= f.label :level, '難易度', class: "pr-5 block font-bold" %>
            <%= f.select :level, Card.level_list, {}, class: "rounded-xl appearance-none daisy-select"  %>
          </div>
          <div class="my-2 overflow-hidden">
            <%= f.label :daybegin, '開始日期', class: "mr-4" %>
            <%= f.datetime_field :daybegin, class: 'daybegin ' %>
          </div>
          <div class="my-2 overflow-hidden">
            <%= f.label :deadline, '結束日期', class: "mr-4" %>
            <%= f.datetime_field :deadline, class: 'deadline' %>
          </div>
          <div class="my-2 overflow-hidden">
            <%= f.label :container_id, '狀態', class: "mr-4" %>
            <% if @card.errors.any? == false %>
              <%= f.select :container_id, options_for_select(select_container(@card.board), @card.container_id), class: 'box-input w-32 text-md px-1' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="relative flex items-center justify-center gap-12 pb-3">
        <div><%= f.submit '更新', class: 'btn-primary inline-block relative text-center btn-primary active:-bottom-[2px] hover:bottom-[1px] mt-5 w-20 py-1' %></div>
         <div class="absolute right-12"><%= link_to '刪除',container_card_path(@container.id, @card.id), method: 'delete', data: { confirm: '確定要刪除嗎?' }, class: 'btn-danger inline-block relative text-center btn-primary active:-bottom-[2px] hover:bottom-[1px] mt-5 w-20 py-1 rounded-lg' %></div>
      </div>
    </div>
  <% end %>
</div>

<% end %>
