<%=  form_with(model: @card, url: container_card_path, data: { turbo: false } ) do |f| %>
  <div class="absolute flex p-3 m-2 rounded-md w-max bg-slate-200 drop-shadow-2xl">
    <div class="flex-col w-9/12">
      <% if @card.errors.any? %>
        <% @card.errors.full_messages.each do |msg| %>
          <ul class="flex-col">
            <li><%= msg %></li>
          </ul>
        <% end %>
      <% end %>
      <div class="flex items-center my-3">
        <%= f.label :title, '標題', class: "text-lg mr-4"  %>
        <%= f.text_field :title, class: 'input' %>
        <span>(必填)</span> 
      </div>
      <div class="flex flex-col items-start pr-20 my-3">
        <%= f.label :intro, '描述', class: "text-lg mr-4" %>
        <%= f.rich_text_area :intro , class: 'w-full bg-white'%>
      </div>
      <div class="flex items-center my-3">
        <%= f.label :level, '難易度', class: "text-lg mr-4" %>
        <%= f.select :level, Card.level_list %>
      </div>
      
      <%= f.submit '更新', class: 'btn-primary inline-block relative text-center btn-primary active:-bottom-[2px] hover:bottom-[1px] mt-5 w-20 py-1' %>

      <div class="mt-4">
        評論區
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, commodi.</p>
      </div>
    </div>
    <div class="w-3/12">
      <div>
        <%= link_to 'x' , board_containers_path(@card.container.board.id) ,class: 'absolute -top-3 -right-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 rounded-full hover:bg-rose-500' %>
      </div>
      <div class="my-2">成員</div>
      <div class="my-2">標籤</div>
      <div class="my-2">
        <%= f.label :daybegin, '開始日期', class: "mr-4" %>
        <%= f.datetime_field :daybegin, class: 'input w-32 text-md px-1' %>
      </div>
      <div class="my-2">
        <%= f.label :deadline, '結束日期', class: "mr-4" %>
        <%= f.datetime_field :deadline, class: 'input w-32 text-md px-1' %>
      </div>
    </div>
  </div>
<% end %>