<div class="mx-auto mt-16">
  <%=  form_with(model: @card, url: container_card_path, data: { controller: "flatpickr" }) do |f| %>
    <div class="flex  w-[480px] md:w-[700px] lg:w-[900px] flex-col p-3 mx-auto rounded-md  bg-white-2 drop-shadow-2xl">
      <div class="flex flex-row">
        <div class="flex-col w-9/12">
          <%= render 'shared/error', params: @card %>
          <div class="flex items-center my-3">
            <%= f.label :title, '標題', class: "text-lg mr-4"  %>
            <%= f.text_field :title, class: 'box-input', placeholder: '請輸入標題名稱' %>
            <span>(必填)</span>
          </div>
          <div class="flex flex-col items-start pr-20 my-3 overflow-x-scroll">
            <%= f.label :intro, '描述', class: "text-lg mr-4" %>
            <%= f.rich_text_area :intro , class: 'w-full bg-white'%>
          </div>
          <div class="flex items-center my-3">
            <%= f.label :level, '優先順序', class: "text-lg mr-4" %>
            <%= f.select :level, Card.level_list %>
          </div>
        </div>
        <div class="w-3/12">
          <div>
            <%= link_to  board_path(@card.board_id) ,class: 'absolute -top-3 -right-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 py-2  w-10 h-10 rounded-full flex justify-center items-center hover:bg-rose-500 active:-bottom-[2px] hover:bottom-[1px] border-none' do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
          <div class="my-2 overflow-hidden">
            <%= f.label :assigned_to, '成員', class: "mr-4" %>
            <% if @card.errors.any? == false %>
              <%= f.select :assigned_to, options_for_select(assign_user(@card.board), @card.assigned_to), class: 'box-input w-32 text-md px-1' %>
            <% end %>
          </div>
          <div class="my-2 overflow-hidden">
            <%= f.label :daybegin, '開始日期', class: "mr-4" %>
            <%= f.datetime_field :daybegin, class: 'daybegin ' %>
          </div>
          <div class="my-2 overflow-hidden">
            <%= f.label :deadline, '結束日期', class: "mr-4" %>
            <%= f.datetime_field :deadline, class: 'deadline' %>
          </div>
          <div class="my-2 overflow-hidden">
            <%= f.label :container_id, '狀態', class: "mr-4" %>
            <% if @card.errors.any? == false %>
              <%= f.select :container_id, options_for_select(@card.board.container_status, @card.container_id), class: 'box-input w-32 text-md px-1' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="relative flex items-center justify-center gap-12 pb-3">
        <div><%= f.submit '更新', class: 'btn-primary inline-block relative text-center btn-primary active:-bottom-[2px] hover:bottom-[1px] mt-5 w-20 py-1' %></div>
         <div class="absolute right-12"><%= link_to '刪除',container_card_path(@container.id, @card.id), method: 'delete', data: {confirm: '確定要刪除嗎?' }, class: 'btn-danger inline-block relative text-center btn-primary active:-bottom-[2px] hover:bottom-[1px] mt-5 w-20 py-1 rounded-lg' %></div>
      </div>
    </div>
  <% end %>
</div>