<%= turbo_frame_tag :card_new do%>
  <div class="h-[100%] mx-auto py-10 px-5 bg-white-3 rounded-l-xl absolute top-0 w-[100%] right-0 z-10 animate-sidein lg:w-[90%] lg:p-10" 
  data-controller="modal" 
  data-modal-target="cardEdit">
    <button data-action="click->modal#closeCard" class="absolute top-5 left-5"><i class="fa-solid fa-xmark"></i></button>
    <span class="pl-3 text-2xl font-bold">新增任務</span>
    <%=  form_with(model: @card, url: container_cards_path(@container), data: { turbo: false, controller: "flatpickr" }, class:"py-5") do |f| %>
      <div class="p-5 mx-auto bg-white border shadow-3xl rounded-xl">
        <div class="my-3 text-center">
          <%= f.label :title, '任務名稱:', class: "pr-4 font-bold" %>
          <%= f.text_field :title, class: 'box-input w-1/2', placeholder: '請輸入任務名稱', data:{modal_target:'title'}%>
          <div class="w-full p-2 text-left rounded-lg">
            <%= f.rich_text_area :intro , class: 'w-full bg-white'%>
          </div>
          <% if @card.errors.any? %>
            <% @card.errors.full_messages.each do |msg| %>
              <ul class="flex-col">
                <li class="text-red-500"><%= msg %></li>
              </ul>
            <% end %>
          <% end %>
        </div>
        <div class="p-3 shadow-3xl bg-white-3 rounded-xl">
          <div class="flex items-center px-2 py-5">
            <p class="pr-5 font-bold">負責人:</p> 
            <span class="px-5 py-2 bg-white border border-black rounded-xl"><%= @card.assigned_to %></span>
          </div>
          <div class="flex items-center p-2">
            <%= f.label :level, '優先順序:', class:"pr-5 block font-bold" %>
            <%= f.select :level, Card.level_list, {}, class: "rounded-xl appearance-none daisy-select" %>
          </div>
          <div class="p-2">
            <%= f.label :daybegin, '開始日期:', class: "font-bold pr-4" %>
            <%= f.datetime_field :daybegin, class: 'daybegin rounded-xl appearance-none daisy-select' %>
          </div>
          <div class="p-2">
            <%= f.label :deadline, '結束日期:', class: "font-bold pr-4" %>
            <%= f.datetime_field :deadline, class: 'deadline rounded-xl appearance-none daisy-select' %>
          </div>
        </div>
      </div>
      <div class="pt-10 text-center">
        <%= f.submit '新增', class: 'bg-Azure-blue-1 text-white rounded-xl relative active:-bottom-[2px] hover:bottom-[1px] py-2 px-20 cursor-pointer' %>
      </div>
    <% end %>
  </div> 
<% end %>
