<%= turbo_frame_tag :card_show do%>
  <div class="absolute top-0 w-[90%] right-0 z-10 h-screen bg-white-3 rounded-l-xl p-10 overflow-y-scroll animate-sidein cursor-auto" data-controller="modal" data-modal-target="cardEdit">
    <button data-action="click->modal#closeCard" class="absolute top-5 left-5"><i class="fa-solid fa-xmark"></i></button>
    <p class="py-5 pl-3 text-2xl font-bold">任務</p>
      <div class="p-5 bg-white rounded-md drop-shadow-2xl over">
        <div class="my-3">
          <div class="flex items-center py-3 text-center">
            <p class="pr-4 text-xl font-bold ">標題：</p>
            <%= @card.title %>
          </div>
          <div class="p-2 ">
            <p class="pr-4 font-bold">描述：</p>
            <%= @card.intro %>
          </div>
        </div>
        <div class="p-3 shadow-3xl bg-white-3 rounded-xl">
          <% if @card.assigned_to != "尚未指派" %>
            <div class="flex items-center p-2 ">
            <p class="pr-4 font-bold">負責人：</p>
            <%= format_email(@card.assigned_to) %></div>
          <% end %>
          <div class="flex items-center p-2 ">
            <p class="pr-4 font-bold">優先順序：</p>
            <%= @card.level %>
          </div>
          <div class="p-2"><%= image_tag(@card.avatar_url) if @card.avatar.present? %></div>
          <div class="flex items-center p-2 ">
            <p class="pr-4 font-bold">開始時間</p>
            <% if @card.daybegin.present? %>
              <div><%= format_timestamps(@card.daybegin) %></div>
            <% end %>
          </div>
          <div class="flex items-center p-2 ">
            <p class="pr-4 font-bold">截止時間<p>
            <% if @card.deadline.present? %>
              <div><%= format_timestamps(@card.deadline) %></div>
            <% end %>
          </div>
          <%= turbo_frame_tag "comment" do %>
          <div class="flex m-auto" >
            <%= link_to '新增評論' ,  new_card_comment_path(@card) ,class: 'btn-primary inline-block relative text-center active:-bottom-[2px] hover:bottom-[1px] mt-5  py-1' %>
          </div>
          <% end %>
          <%= render @comments %>
        </div>
      </div>
      
  </div>
<% end %>


