<div class="absolute flex p-3 m-2 rounded-md w-max bg-slate-200 drop-shadow-2xl">
  <div class="flex-col w-10/12">
    <div class="mt-4">標題：<%= @card.title %></div>
    <div class="mt-4">描述：<%= @card.intro %></div>
    <div class="mt-4">難易度：<%= @card.level %></div>
    <%= image_tag(@card.avatar_url) if @card.avatar.present? %>
    <div class="mt-4">
      評論區
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, commodi.</p>
    </div>
  </div>
  <div class="w-2/12 -mr-4">
    <div>
      <%= link_to 'x' , board_containers_path(@card.container.board.id) ,class: 'absolute -top-3 -right-3 bg-gray-200 drop-shadow-2xl border border-gray-200  px-2 rounded-full hover:bg-rose-500' %>
    </div>
    <div class="text-center">
      <div class="my-2">成員</div>
      <div class="my-2">標籤</div>
      <div class="my-2 mb-3">
        開始時間
        <% if @card.daybegin.present? %>
          <div><%= format_date(@card.daybegin).split('#').first %></div>
          <div><%= format_date(@card.daybegin).split('#').last %></div>
        <% end %>
      </div>
      <div class="my-2 mb-3">
        截止時間
        <% if @card.deadline.present? %>
          <div><%= format_date(@card.deadline).split('#').first %></div>
          <div><%= format_date(@card.deadline).split('#').last %></div>
        <% end %>
      </div>
      <div class="my-2">附件</div>
    </div>
  </div>
</div>