<!DOCTYPE html>
<html>
  <head>
    <title>Disboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="overflow-hidden">
    <%= render 'shared/sidebar', boards: @boards, board: @board %>
    <main class="flex w-full h-screen pl-20 mx-auto bg-gradient-to-t from-[#a7c6ed] to-[#599af4]">  
      <div class="relative ">
        <%= render 'shared/insidebar', container: @containers, board: @board %>
      </div>
      <div class="relative w-full pt-[110px]">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
