<!DOCTYPE html>
<html>
  <head>
    <title>Disboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/intro.js@7.0.1/minified/introjs.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icon.png' %>
  </head>
  <body class="lg:overflow-hidden" data-controller='hotkey'>
    <div class="relative flex h-screen overflow-hidden" >
      <%= render 'shared/sidebar', boards: @boards, board: @board %>
      <% if  user_signed_in? == false && (controller_name == 'sessions' || controller_name == 'registrations')%>
        <main class="flex flex-col w-full h-screen lg:h-screen bg-Azure-blue-1">  
          <%= yield %>
        </main>
      <% else %>
        <main class="flex flex-col w-full h-screen lg:h-screen bg-Azure-blue-1" data-controller="intro">  
          <%= render 'shared/insidebar', container: @containers, board: @board %>
          <%= yield %>
        </main>
      <% end %>
    </div>
  </body>
</html>
