<%= turbo_frame_tag :member_search do %>
  <%= render "search", q: @q %>
  <div class="absolute z-[1] overflow-x-auto overflow-y-scroll max-h-80 w-[300px] md:w-[400px]">
    <% if @users && @users.length > 0 %>
      <table class="table">
        <thead>
          <tr>
            <td class="text-lg bg-gray-300 rounded-none">email</td>
            <td class="text-lg bg-gray-300 rounded-none">邀請</td>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <div class="flex items-center space-x-3">
                  <div class="avatar">
                    <div class="w-12 h-12 mask mask-squircle">
                      <div class="flex items-center justify-center w-full h-full text-center text-white rounded-md bg-Azure-blue-3"><%= user.username&.first || user.email.first %></div>
                    </div>
                  </div>
                  <div>
                    <div class="font-bold truncate w-[140px] md:w-[240px]">
                      <%= user.email %>
                    </div>
                    <div class="text-sm opacity-50">
                      <%= user.username %>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <%= button_to board_members_path(@board.id, { member_id: user.id }), data: { turbo: false } do %>
                  <i class="p-2 rounded-full fa-solid fa-plus hover:bg-gray-200"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="pt-2 text-xl font-bold text-white-1">搜尋不到關鍵字，請重新搜尋</p>
    <% end %>
  </div>
<% end %>